---
import MainLayout from '../../layouts/MainLayout.astro';
---
<MainLayout title="Tutoriales SIG">
  <h2>Índice de Tutoriales</h2>
  <ul>
    <li><a href="/tutorial-sig/tutoriales/formatos">Formatos de Almacenamiento</a></li>
    <li><a href="/tutorial-sig/tutoriales/vectores">Creación y Edición de Vectores</a></li>
    <li><a href="/tutorial-sig/tutoriales/tabla-atributos">Tabla de Atributos</a></li>
    <li><a href="/tutorial-sig/tutoriales/geoprocesos-basicos">Geoprocesos básicos</a></li>
    <li><a href="/tutorial-sig/tutoriales/tutoriales-contents/disolver">Disolver</a></li>
  </ul>

  <p><a href="../">Regresar al Índice Principal</a></p>
</MainLayout>