---
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout title="Tutoriales SIG">
  <h2>Índice de Tutoriales</h2>
  <ol>
    <li><a href="/tutoriales/formatos">Formatos de Almacenamiento</a></li>
    <li><a href="/tutoriales/vectores">Creación y Edición de Vectores</a></li>
    <li><a href="/tutoriales/tabla-atributos">Tabla de Atributos</a></li>
      <ul>
        <li><a href="/tutoriales/tutoriales-contents/calculadora-de-campos-concatenar-cadenas">Concatenar cadenas</li>
      </ul>
    <li>
      <a href="/tutoriales/geoprocesos-basicos">Geoprocesos básicos</a>
      <ul>
        <li><a href="/tutoriales/tutoriales-contents/disolver">Disolver</a></li>
      </ul>
    </li>
  </ol>

  <p><a href="/">Regresar al Índice Principal</a></p>
</MainLayout>