---
import MainLayout from '../layouts/MainLayout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---


<MainLayout title="Inicio - SIG Tutoriales">
	<h2>Bienvenidos a Tutoriales SIG</h2>
	<p>Este sitio est치 dise침ado para apoyar a estudiantes universitarios en el aprendizaje de Sistemas de Informaci칩n Geogr치fica.</p>
	<a href="/tutoriales">Ir a los Tutoriales</a>


</MainLayout>
